{{#if images}}
{{#each images}}
<img class="photo" data-toggle="modal" data-id="{{{id}}}" data-target="#exampleModalCenter" src="/uploads/{{{filename}}}"
    alt="{{{filename}}}" />

{{/each}}

{{/if}}

<script>
    const images = document.querySelectorAll('.photo');
    images.forEach(function (item) {
        item.addEventListener("click", (e) => {
            const imageCopy = e.target.cloneNode(true);// copy image elements
            const modalBody = document.querySelector('.modal-body');
            modalBody.appendChild(imageCopy);
            const id = imageCopy.dataset.id;
            const inputId = document.querySelector('#photo-id');
            inputId.value = id;

        })
    })
console.log('khanh')
</script>

<div class="modal fade" id="exampleModalCenter" 
tabindex="-1" 
role="dialog" 
aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> Add text for image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="false">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <form method="post" action="/addmeme">
            <div> 
                <input type="hidden" name="id" id="photo-id" /> 
            </div>
            <div>
                <input type="text" placeholder="text for the top" class="inputTop" name="top"/>
            </div>
            <div>
                <input type="text" placeholder="text for the bottom" class="inputBottom" name="bottom"/>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>

