<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<img src="/uploads/20190724_190044.jpg" alt="20190724_190044.jpg">

<img src="/uploads/11728868_791266644325527_3245056932861160776_o.jpg" alt="11728868_791266644325527_3245056932861160776_o.jpg">

<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="fileupload" accept="image/gif,image/jpeg, image/jpg, image/png" />
  <button type="submit" > Upload </button>
</form>
